.pp{
    width: 180px;
    height: 180px;
    background-color: rgb(243, 243, 242);
    display: block;
    border: 2px solid rgb(137, 127, 148);
    position: relative;
    z-index: 100;
}

.pp:hover{
    opacity: 0.5;
}

#upload {
    position: absolute;
    top: 90%;
    left: 0%;
}

#upload-btn{
    position: absolute;
    top: -10%;
    left: 70%;
} 

ul{
    list-style: none;
}

.details li{
    padding-bottom: 20px;
    word-spacing: 5px;
}